[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2"
numpy = "*"
scipy = "*"
statsmodels = "*"
scikit-learn = "*"
pytest = "*"
twine = "*"
sphinxcontrib-napoleon = "*"
sphinx = "*"
m2r = "*"

[dev-packages]

[requires]
python_version = "3.12"
